{
	"id": {
		"N": "0"
	},
	"name": {
		"S": "Premier"
	},
	"engageExternalApi": {
		"S": "http://localhost:3000"
	},
	"engageApiKey": {
		"S": ""
	},
	"webhookToken": {
		"S": ""
	},
	"bullhorn": {
		"M": {
			"apiUrl": {
				"S": ""
			},
			"clientId": {
				"S": ""
			},
			"clientSecret": {
				"S": ""
			},
			"username": {
				"S": ""
			},
			"password": {
				"S": ""
			},
			"redirectUri": {
				"S": ""
			},
			"cronSchedule": {
				"S": "*/30 * * * * *"
			},
			"tzOffset": {
				"N": "5"
			},
			"workerPrefix": {
				"S": "BH-"
			},
			"candidateFields": {
				"SS": [
					"id",
					"firstName",
					"lastName",
					"email",
					"status",
					"mobile",
					"address"
				]
			},
			"mappings": {
				"M": {
					"candidateToWorker": {
						"M": {
							"id": {
								"S": "employeeId"
							},
							"firstName": {
								"S": "firstName"
							},
							"lastName": {
								"S": "lastName"
							},
							"email": {
								"S": "email"
							},
							"mobile": {
								"S": "mobile"
							},
							"address.address1": {
								"S": "address1"
							},
							"address.address2": {
								"S": "address2"
							},
							"address.city": {
								"S": "address3"
							},
							"address.zip": {
								"S": "addressPostCode"
							}
						}
					}
				}
			}
			"jobSubmissionSyncStatuses" : {
				"SS": ["CV Sent"]
			}
		}
	}
}